.contactandsm {
	font-family:sans-serif;
	color:orange;
	text-align:center;
}
h1 {
	text-align:center;
	margin-bottom: 30px;
}

.title1 {
	font-family:sans-serif;
	color: gold;
}
h2 {
	font-family:sans-serif;
	margin-bottom: 21px;
}

h3 {
    color: orange;
    text-align: center;
}
h2 {
	color: blue;
	text-align: center;
}
h4 {color: white;
}
p {
	color: #00ff00;
	text-align: center;
	font-family:sans-serif;
}
li {
	color: #5858FA;
	text-align: center;
}
br {
	color: #c0a22f;
	text-align: center;
}
body {
	background-image: url(http://cdn.wallpapersafari.com/62/32/bOoXmE.jpg);
}
img {
    display: block;
    margin: 0 auto;
}
form {
	text-align: center;
}
}
a {
	text-decoration: none;
	color: #028af2;
}
a:hover {
	color: white;
	text-decoration: underline
}
i {
	text-decoration: none;
	color: #9bd3ff;
}
i:hover {
	color: white;
	text-decoration: underline
}
.Myinstagram {                              /*Here is the CSS code to highlight the 3 social media links when moused over them.*/
    font-family: sans-serif;
}
.linkedin {
	text-decoration: none;
	color: #9bd3ff;
}
.linkedin:hover {
	color: white;
	text-decoration: underline;
}
.myfacebook {
	text-decoration: none;
	color: #9bd3ff;
}
.myfacebook:hover {
	color: white;
	text-decoration: underline;
}
a:visited {
	color: white;                       
}
.salesforcelogo {
 margin-bottom: 10px;
 display:block;
}
.salesforcelogo:hover {
   background-image: url('mountain.jpg');
   background-size: auto 300px;
   background-position: center;
}
.aboutme {
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 20%;
	padding-top: 20%;
}
.section1 {
	margin-bottom: 30px
    background-color:gold;
}
.divsection1 {
	background:linear-gradient (45dg,gold,gold);
	padding-bottom: 130px
}
section {
	border-top: 10px gold solid
}
.experience {
	padding-bottom: 5%;
	padding-top: 5%;
}
.aboutandwork {
	color: white;
}
.experience1 {
	color: white;
}
.mypicture {
	padding-bottom: 10%
}
.jobrole {
	color: white;
}
.headerbg {
	background-color: darkblue;
	padding-bottom: 2%;
}
.nav {
	padding-top: 2%;
}
}

@media (min-width: 600px) {


















